#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    display: flex;
}

.waiting-list {
    padding: 10px;

    .subtitle-text {
        font-size: 90px;
        font-weight: bold;
    }
}

.backgroundColorLight {
    background-color: #fff;
}

.line {
    display: table;
    width: 100%;
    font-size: 60px;
    // required since firefox has issues if this view is not in edit mode
    height: 1px;
    margin-bottom: 5px;

    .section-two {
        display: table-cell;
        vertical-align: middle;
        width: 100%;

        span + span {
            margin-left: 20px;
        }
    }
}
